body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader {
    width: 200px;
    height: 200px;
    border: 5px solid #B0BEC5;
    border-top-color: #2962FF;
    border-radius: 50%;
    animation: spin 2s infinite ease-in-out;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
