body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 80%;
    height: 700px;
    border: 2px solid black;
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    flex-direction: column;
}

/* .sidebar { */
/*     background-color: olivedrab; */
/*     width: 1000px; */
    /* max-width: 200px; */
    /* flex-grow: 1; */

    /* flex-shrink: 3; */
    /* min-width: 100px; */
/* } */

.content {
    background-color: lightpink;
    margin: 0;
    /* width: 1000px; */
    /* flex-grow: 2; */

    /* flex-shrink: 1; */

    flex-basis: 500px;
}
