/* body { */
/*     margin: 0; */
/*     background-color: red; */
/* } */
/**/
/* @media only screen and (max-width: 600px) { */
/*     body { */
/*         background-color: blue; */
/*     } */
/* } */
/**/
/* @media only screen and (min-width: 601px) and (max-width: 900px) { */
/*     body { */
/*         background-color: green; */
/*     } */
/* } */
/**/
/* @media only screen and (min-width: 901px) and (max-width: 1200px) { */
/*     body { */
/*         background-color: yellow; */
/*     } */
/* } */

/* @media only screen and (orientation: portrait) { */
/*     body { */
/*         background-color: yellow; */
/*     } */
/**/
/*     h1::before { */
/*         content: "portrait! "; */
/*     } */
/* } */
/**/
/* @media only screen and (orientation: landscape) { */
/*     body { */
/*         background-color: green; */
/*     } */
/**/
/*     h1::before { */
/*         content: "landscape! "; */
/*     } */
/* } */

/* body { */
/*     background-color: green; */
/* } */
/**/
/* @media (max-width: 700px) or (min-width: 1400px) { */
/*     body { */
/*         background-color: blue; */
/*     } */
/* } */

 /* Exercise */
h1::after {
    content: " screen size above 1000px";
}

h2 {
    font-size: 7rem;
}

@media only screen and (max-width: 800px) {
    h1::after {
    content: " screen size below 800px";
    }

    h2 {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 801px) and (max-width: 1000px) {
    h1::after {
    content: " screen size between 801px and 1000px";
    }

    h2 {
        font-size: 5rem;
    }
}
