/* h1 { */
/*     border: 2px solid green; */
    /* border-style: solid; */
    /* border-color: green; */
    /* border-width: 8px; */
/*     width: 500px; */
/*     height: 60px; */
/* } */
/**/
/* #container { */
/*     width: 1000px; */
/*     height: 500px; */
/*     border: 2px solid red; */
/* } */
/**/
/* .box { */
/*     width: 50%; */
/*     height: 50%; */
/*     border: 2px solid blue; */
/* } */

/* div { */
/*     border: 2px solid green; */
/*     width: 500px; */
/*     height: 200px; */
/*     padding: 50px; */
/*     border:5px solid red; */
/* } */
/**/
/* .box { */
/*     box-sizing: border-box; */
/*     border: 5px solid blue; */
/* } */

/* #container { */
/*     width: 800px; */
/*     height: 500px; */
/*     border: 2px solid red; */
/* } */
/**/
/* .box { */
/*     width: 150px; */
/*     border: 2px solid blue; */
/*     margin: 0 auto; */
/*     text-align: center; */
/* } */

/* .box2 { */
/*     width: 80%; */
/*     min-width: 300px; */
/*     max-width: 500px; */
/*     height: 200px; */
/*     background-color: mediumspringgreen; */
/*     border-radius: 50%; */
/* } */

span {
    display: block;
    width: 400px;
    background-color: red;
}
/* give the box class a shadow property */
.box2 {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border: 2px solid blue;
    box-shadow: 10px 10px 5px #888888;
    overflow: scroll;
}
