h1 {
    /* animation-name: spin; */
    /* animation-duration: 2.5s; */
    /* animation-iteration-count: infinite; */
    /* animation-timing-function: ease-in; */
    display: inline-block;

    /* animation shorthand */
    animation: spin 2.5s reverse infinite ease-in;
}
.box {
    height: 500px;
    width: 500px;
    background: yellow;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* animation-name: colorchange; */
    animation-name: spin;
    /* animation-name: rainbow; */
    /* animation-name: move; */
    animation-duration: 5s;
    /* animation-direction: reverse; */
    animation-direction: alternate;
    /* animation-direction: alternate-reverse; */
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
}

/* @keyframes colorchange { */
/*     from { */
/*         background-color: green; */
/*         color: white; */
/*     } */
/*     to { */
/*         background-color: blue; */
/*         color: white; */
/*     } */
/* } */

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

/* @keyframes rainbow { */
/*     0% { */
/*         background-color: red; */
/*         color: white; */
/*     } */
/*     15% { */
/*         background-color: orange; */
/*         color: black; */
/*     } */
/*     30% { */
/*         background-color: yellow; */
/*         color: black; */
/*     } */
/*     45% { */
/*         background-color: green; */
/*         color: white; */
/*     } */
/*     60% { */
/*         background-color: blue; */
/*         color: white; */
/*     } */
/*     75% { */
/*         background-color: indigo; */
/*         color: white; */
/*     } */
/*     100% { */
/*         background-color: violet; */
/*         color: black; */
/*     } */
/* } */

/* @keyframes move { */
/*     0% { */
/*         transform: translateX(0); */
/*         background-color: cyan; */
/*     } */
/*     50% { */
/*         transform: translateX(1000px); */
/*     } */
/*     100% { */
/*         transform: translateX(450px); */
/*         background-color: pink; */
/*     } */
/* } */

.box2 {
    width: 150px;
    height: 150px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    animation: box2 3s ease-in-out 4s;
    /* animation-fill-mode: forwards; */
    /* animation-fill-mode: backwards; */
    animation-fill-mode: both;
}

@keyframes box2 {
    0% {
        transform: translateX(0);
        background-color: #AB47BC;
    }
    100% {
        transform: translateX(500px);
        background-color: #FFA000;
    }
}
