body {
    margin: 0;
}

.navbar {
    background-color: darkgray;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
    flex: 0 0 300px;
    justify-content: space-between;
}

.right {
    display: flex;
    align-items: center;
    flex: 0 0 200px;
    justify-content: space-between;
}

.navlink {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    padding-bottom: 5px;
    transition: border-bottom 0.2s ease-out, transform 0.2s ease-out;
}

.navlink:hover {
    transform: scale(0.9);
    border-bottom: 2px solid white;
}

